@import "tailwindcss";

:root {
  --background-a: #507843;
  --background-b: #dfd7bf;
  --foreground: #171717;
}

@theme inline {
  --color-background-a: var(--background-a);
  --color-background-b: var(--background-b);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-a: #507843;
    --background-b: #434343;
    --foreground: #ededed;
  }
}

body {
  background-a: var(--background-a);
  background-b: var(--background-b);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
}